Repository swsnu/swpp2019-team20, pull requests merged in 2019-12, with the labels that each got.

#114 [backend] fix backend Profile model / add user-rating calculating function
  backend/account/migrations/0005_auto_20191203_0429.py
  backend/account/migrations/0006_auto_20191203_0625.py
  backend/account/models.py
  backend/review/sentiment.py
  backend/review/views.py
Labels: backend

#118 Add Create Review
  backend/review/tests.py
  backend/review/urls.py
  backend/review/views.py
  frontend/src/pages/MainPage/TransactionList/container.jsx
  frontend/src/pages/MainPage/TransactionList/presenter.jsx
  frontend/src/setupProxy.js
Labels: implement

#121 Change user profile
  backend/account/tests.py
  backend/account/views.py
  frontend/src/pages/ProfilePage/Profile/container.jsx
  frontend/src/pages/ProfilePage/Profile/container.test.jsx
  frontend/src/pages/ProfilePage/Profile/subcomponents/AccountProfile/AccountProfile.jsx
  frontend/src/pages/ProfilePage/Profile/subcomponents/AccountProfile/AccountProfile.test.jsx
Labels: backend, frontend, implement

#119 [backend] Chatroom
  .travis.yml
  backend/.pylintrc
  backend/backend/routing.py
  backend/backend/settings.py
  backend/loan/consumers.py
  backend/loan/routing.py
  backend/loan/templates/loan/room.html
  backend/loan/tests.py
  backend/loan/urls.py
  backend/loan/views.py
  backend/requirements-dev.txt
  backend/requirements.txt
  frontend/package.json
  frontend/src/pages/MainPage/LoanList/presenter.jsx
  frontend/yarn.lock
Labels: backend, implement

#137 [backend] add participant list side bar to chatroom page
  backend/account/migrations/0007_auto_20191209_0629.py
  backend/account/models.py
  backend/loan/templates/loan/room.html
  backend/loan/views.py
Labels: implement

#144 Deploy setting fixes
  backend/Dockerfile
  backend/loan/templates/loan/room.html
Labels: bug

#147 fix not found page error
  frontend/src/App.jsx
  frontend/src/components/Base/SearchBar/SearchBar.css
  frontend/src/components/subcomponents/Header/Header.jsx
Labels: Fix, bug

#149 fix bugs, design, settings
  .travis.yml
  backend/loan/migrations/0004_auto_20191213_1046.py
  backend/loan/models.py
  backend/requirements.txt
  frontend/src/components/Base/Base.jsx
  frontend/src/pages/MainPage/LoanList/presenter.css
  frontend/src/pages/MainPage/LoanList/presenter.jsx
  frontend/src/pages/MainPage/TransactionList/presenter.jsx
  frontend/src/pages/MainPage/subcomponents/Budget/Budget.jsx
  frontend/src/pages/MainPage/subcomponents/TotalMoney/TotalMoney.jsx
Labels: Fix, backend, frontend

#152 Fix frontend deco
  frontend/src/App.css
  frontend/src/pages/MainPage/LoanList/presenter.css
  frontend/src/pages/MainPage/LoanList/presenter.jsx
  frontend/src/pages/MainPage/subcomponents/TotalMoney/TotalMoney.jsx
  frontend/src/pages/ProfilePage/CompletedLoanList/presenter.jsx
Labels: Fix, frontend

#156 Fix progress bar
  backend/loan/migrations/0001_initial.py
  backend/loan/migrations/0002_auto_20191101_1127.py
  backend/loan/migrations/0003_auto_20191116_0207.py
  backend/loan/migrations/0004_auto_20191213_1046.py
  backend/loan/migrations/0005_transaction_notified_date.py
  backend/loan/models.py
  backend/loan/views.py
  frontend/src/pages/MainPage/CreateLoan/CreateLoan.jsx
  frontend/src/pages/MainPage/LoanList/presenter.jsx
Labels: Fix, backend, bug, frontend

#160 Fix code smell
  backend/account/models.py
  backend/backend/views.py
  backend/loan/migrations/0001_initial.py
  backend/loan/models.py
  backend/loan/templates/loan/room.html
  backend/loan/urls.py
  backend/loan/views.py
  backend/review/models.py
  frontend/src/pages/MainPage/CreateLoan/CreateLoan.jsx
Labels: Fix
