Repository swsnu/swpp2019-team20, pull requests merged in 2019-11, with the labels that each got.

#52 mocked up nav search bar is implemented
  frontend/package.json
  frontend/src/components/Base/Base.jsx
  frontend/src/components/subcomponents/Header/Header.css
  frontend/src/components/subcomponents/Header/Header.jsx
  frontend/src/components/subcomponents/SearchBar/SearchBar.css
  frontend/src/components/subcomponents/SearchBar/SearchBar.jsx
  frontend/yarn.lock
Labels: demo, frontend, implement

#53 Fix signup (POST request is successfully processed by Django side)
  frontend/src/components/subcomponents/SearchBar/SearchBar.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/SignupPage/SignupPage.jsx
Labels: demo, frontend, implement

#54 Implement SearchBar functionality
  frontend/package.json
  frontend/src/components/subcomponents/SearchBar/SearchBar.jsx
  frontend/yarn.lock
Labels: demo, frontend, implement

#55 Add ProfilePage, feat: user info and loan list
  backend/account/views.py
  backend/loan/views.py
  frontend/src/pages/ProfilePage/LoanList/container.jsx
  frontend/src/pages/ProfilePage/LoanList/presenter.jsx
  frontend/src/pages/ProfilePage/Profile/container.jsx
  frontend/src/pages/ProfilePage/Profile/presenter.jsx
  frontend/src/pages/ProfilePage/ProfilePage.jsx
  frontend/src/pages/ProfilePage/ReviewList/container.jsx
  frontend/src/pages/ProfilePage/ReviewList/presenter.jsx
  frontend/src/setupProxy.js
  frontend/webpack.config.js
Labels: backend, demo, frontend, implement

#63 [frontend] Main presenter
  frontend/src/pages/MainPage/LoanList/presenter.css
  frontend/src/pages/MainPage/LoanList/presenter.jsx
  frontend/src/pages/MainPage/components/Budget/Budget.jsx
  frontend/src/pages/MainPage/components/LatestOrders/LatestOrders.jsx
  frontend/src/pages/MainPage/components/LatestOrders/data.js
  frontend/src/pages/MainPage/components/LatestSales/LatestSales.jsx
  frontend/src/pages/MainPage/components/LatestSales/chart.js
  frontend/src/pages/MainPage/components/TasksProgress/TasksProgress.jsx
  frontend/src/pages/MainPage/components/TotalMoney/TotalMoney.jsx
  frontend/src/pages/MainPage/components/TotalUsers/TotalUsers.jsx
  frontend/src/pages/MainPage/components/UsersByDevice/UsersByDevice.jsx
Labels: demo, frontend, implement

#66 Implement key transaction operations.
  backend/loan/urls.py
  backend/loan/views.py
Labels: backend, demo, implement

#74 update package.json
  frontend/package.json
  frontend/yarn.lock
Labels: implement

#76 Header login
  backend/account/tests.py
  backend/account/urls.py
  backend/account/views.py
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/App.test.jsx
  frontend/src/components/Loading/Loading.jsx
  frontend/src/components/subcomponents/Header/Header.jsx
  frontend/src/components/subcomponents/Header/Header.test.jsx
  frontend/src/components/subcomponents/SideNavigation/SideNavigation.jsx
  frontend/src/components/subcomponents/UserEntry/UserEntry.jsx
  frontend/src/components/subcomponents/form/FormFeedback.jsx
  frontend/src/components/subcomponents/form/FormFeedback.test.jsx
  frontend/src/components/subcomponents/form/validation.jsx
  frontend/src/index.js
  frontend/src/pages/IndexPage/IndexPage.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/LoginPage/LoginPage.test.jsx
  frontend/src/pages/ProfilePage/ProfilePage.jsx
  frontend/src/pages/ProfilePage/ProfilePage.test.jsx
  frontend/src/pages/SignupPage/SignupPage.jsx
  frontend/src/redux/configureStore.js
  frontend/src/redux/modules/user.js
  frontend/src/setupProxy.js
  frontend/src/utils.js
  sonar-project.properties
Labels: frontend, implement

#80 complete signup page and its test
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/pages/SignupPage/SignupPage.jsx
  frontend/src/pages/SignupPage/SignupPage.test.jsx
  frontend/yarn.lock
Labels: frontend, implement

#81 [frontend] index page
  frontend/src/components/subcomponents/Header/Header.jsx
  frontend/src/pages/IndexPage/IndexPage.jsx
  frontend/src/pages/IndexPage/IndexPage.test.jsx
  frontend/src/pages/IndexPage/IndexPageLayout.jsx
Labels: frontend, implement

#85 fix django views typo in signup function
  backend/account/views.py
Labels: backend, bug

#86 [frontend] Logout function on header
  frontend/src/components/subcomponents/Header/Header.jsx
  frontend/src/components/subcomponents/Header/Header.test.jsx
Labels: frontend, implement

#90 [frontend] Search navbar
  frontend/package.json
  frontend/src/components/Base/Base.jsx
  frontend/src/components/subcomponents/AppBar.jsx
  frontend/src/components/subcomponents/AppBar.test.jsx
  frontend/src/components/subcomponents/Button.test.jsx
  frontend/src/components/subcomponents/Header/Header.css
  frontend/src/components/subcomponents/Header/Header.jsx
  frontend/src/components/subcomponents/Header/Header.test.jsx
  frontend/src/components/subcomponents/SearchBar/SearchBar.css
  frontend/src/components/subcomponents/SearchBar/SearchBar.jsx
  frontend/src/components/subcomponents/SearchBar/SearchBar.test.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/LoginPage/LoginPage.test.jsx
  frontend/src/pages/SignupPage/SignupPage.jsx
  frontend/src/pages/SignupPage/SignupPage.test.jsx
  frontend/yarn.lock
Labels: frontend, implement

#91 [Test Fix] fix page route and login page test
  frontend/src/App.jsx
  frontend/src/pages/LoginPage/LoginPage.test.jsx
Labels: Fix, bug, frontend

#98 Backend confirms
  .travis.yml
  backend/loan/tests.py
  backend/loan/views.py
  backend/requirements-dev.txt
  backend/requirements.txt
  backend/utils/__init__.py
  backend/utils/twilio.py
  sonar-project.properties
Labels: backend, implement

#103 Finished Create Loan page
  frontend/src/components/CreateLoan/CreateLoan.jsx
  frontend/src/components/CreateLoan/CreateLoan.test.jsx
  frontend/src/components/subcomponents/SearchBar/SearchBar.jsx
  frontend/src/pages/MainPage/LoanList/container.test.jsx
  frontend/src/pages/MainPage/LoanList/presenter.jsx
Labels: frontend, implement

#109 enable utf-8 encoding
  backend/account/views.py
  backend/review/models.py
  backend/review/sentiment.py
  backend/review/tests.py
  backend/review/views.py
Labels: Fix, backend
